{% extends "layout.html" %}

{% block content %}
    <div class="user-profile-intro">
        <h2>{{ session["username"] }}'s Profile:</h2>
    </div>

    <div class="full-profile-container">

    <div class="left-column">
        <div class="user-profile-picture">
            <img src="{{ url_for('static', filename='default-user-icon.svg') }}" alt='userPfp' class="user-pfp">
            <h4>{{ session["username"] }}</h4>
            <div class="date_joined">
                <h4>User Since:</h4>
                <p>{{ user.date_joined }}</p>
            </div>
        </div>
        <div class="about-me">
            <h3>About Me:</h3>
            <div class="spirit-animal">
                <h4>My Spirit Animal: </h4>
                <p>{{ user.spirit_animal }}</p>
            </div>
            <div class="my-country">
                <h4>My Country: </h4>
                <p>New Zealand 🇳🇿</p>
            </div>
            <div class="my-course">
                <h4>My Course: </h4>
                <p>COMPSCI235 💻</p>
            </div>
            <div class="on-platforms">
                <h4>On Platforms:</h4>
                {% for platform in user.platforms %}
                    <div class="profile-tag">{{ platform }}</div>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="profile-reviews">
        <h2>All Your Reviews:</h2>
        <div class="sort-container">
            <form method="get" action="{{ url_for('profile_bp.profile') }}">
                <label for="sort">Sort by:</label>
                <select id="sort" name="sort" onchange="this.form.submit()">
                    <option value="newest" {% if sort_option == 'newest' %}selected{% endif %}>Newest</option>
                    <option value="oldest" {% if sort_option == 'oldest' %}selected{% endif %}>Oldest</option>
                </select>
        </form>
        </div>
        <div class="reviews_container">
            {% if reviews %}
            <ul>
                {% for review in reviews %}
                    <div class="individual-reviews">
                        <li>
                            {{ review.game.title }}:
                            <span class="review-stars">
                                {% for _ in range(1, 6) %}
                                    {% if _ <= review.rating %}
                                        <i class="fas fa-star checked"></i>
                                    {% else %}
                                        <i class="fas fa-star"></i>
                                    {% endif %}
                                {% endfor %}
                            </span>
                            "{{ review.comment }}"
                        </li>
                    </div>
                {% endfor %}
            </ul>
        {% else %}
            <p>You haven't posted any reviews yet!</p>
        {% endif %}
    </div>
    </div>

    <div class="right-column">
        <a style="text-decoration: none" href="{{ url_for('wishlist_bp.wishlist') }}">
        <div class="profile-wishlist">
            <h2>View My Wishlist
                <img src="{{ url_for('static', filename='heart-icon.svg') }}" alt="profileHeart" class="profile-heart">
            </h2>
        </div>
        </a>
        <div class="profile-logout" onclick="location.href='{{ url_for('auth_bp.logout') }}'" style="cursor: pointer;">
            <h2>Log Out
                <img src="{{ url_for('static', filename='logout-icon.svg') }}" alt="profileLogout" class="profile-logout-icon">
            </h2>
        </div>
    </div>

    </div>
{% endblock %}
