{% extends "layout.html" %}
{% block extraStyles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wishList.css') }}">
{% endblock %}
{% block content %}
<div class="wishlist-h2">
    <h2>{{ session["username"] }}'s Wishlist</h2>
</div>
{% if wishlist_games %}
    <ul>
    {% for game in wishlist_games %}
        <li>
            <!-- Begin: Game Card -->
            <a class="gameLink" href="{{ url_for('description_bp.description', game_id=game.game_id) }}">
                <figure class="game" >
                    <img class="gameImage" src="{{ game.image_url }}">
                    <figcaption>{{ game.title }}</figcaption>
                </figure>
            </a>
            <!-- End: Game Card -->

            <form action="{{ url_for('wishlist_bp.wishlist_remove') }}" method="post">
                <input type="hidden" name="game_id" value="{{ game.game_id }}">
                <input type="submit" value="Remove from Wishlist">
            </form>
        </li>
    {% endfor %}
    </ul>
{% else %}
        <div class ="wishlist-p">
            <p>Your wishlist is empty!</p>
        </div>
{% endif %}
{% endblock %}
