{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block extraStyles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}
{% block content %}

<div class="{% if title == 'Login' %}auth-dialog{% else %}auth-register{% endif %}">
    {% if title == "Login" %}
        <h1>Sign in</h1>
    {% else %}
        <h1>Sign Up</h1>
    {% endif %}
    <form method="post" action="{{ handler_url }}">
        {{ form.csrf_token }}
    <div class="user-group">
        <img src='{{ url_for('static', filename='user-icon.svg') }}' class="input-icon" alt="User-Icon">
        <div class="username">
            {{ form.username(placeholder=form.username.label.text, type="text") }}
        </div>
    </div>
    <div class="password-group">
        <img src='{{ url_for('static', filename='password-icon.svg') }}' class='input-icon' alt="Lock-Icon">
        <div class="password">
            {{ form.password(placeholder=form.password.label.text, type="password") }}

        </div>

    </div>
    {% if form.username.errors is not none %}
                <ul>
                    {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    {% if form.password.errors or auth_error_message is not none %}
                <ul>
                    {% if auth_error_message is not none %}
                        <li>{{ auth_error_message }}</li>
                    {% endif %}
                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>

            {% endif %}
    <div class="sign-in-button">
        {{ form.submit(class="submit-button") }}
    </div>
    </form>
</div>
    <div class="sign-up">
        {% if title=="Login" %}
        <p>Don't have an account with us?</p>
            <div class="sign-up-link">
                <a href="{{ url_for('auth_bp.register')}}" class="white-link"><u>Sign up</u></a>
            </div>
            {% else %}
                <p>Already have an account with us?</p>
                <div class="sign-in-link">
                    <a href="{{ url_for('auth_bp.login') }}" class="white-link">Sign in</a>
                </div>
        {% endif %}
    </div>
{% endblock %}
